<div class="control-modal">
    <p class="control-text">Controls:</p>
    <div class="control-wrapper">
        <div class="control-column">
            <div class="control-box">
                <img src="../../assets/Assignment Assets/Icons/arrow-left-duotone.svg" alt="">
            </div>
        </div>
        <div class="control-column">
            <div class="control-box">
                <img src="../../assets/Assignment Assets/Icons/arrow-up-duotone.svg" alt="">
            </div>
            <div class="control-spacer"></div>
            <div class="control-box">
                <img src="../../assets/Assignment Assets/Icons/arrow-down-duotone.svg" alt="">
            </div>
        </div>
        <div class="control-column">
            <div class="control-box">
                <img src="../../assets/Assignment Assets/Icons/arrow-right-duotone.svg" alt="">
            </div>
        </div>
    </div>
</div>