.overlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
}

.modal-content {
    width: 1332px;
    height: 825px;
    margin: auto;
    

    border-radius: 5px;
}

.victory-modal {
    background: url('../../assets/Assignment Assets/Images/Cloud+Background.png');
}