.overlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
}

.modal-content {
    margin: auto;
    border-radius: 5px;
}

.victory-modal {
    background: url('../../assets/Assignment Assets/Images/Cloud+Background.png');
    background-size:cover;
    background-position:center;
}

.question-modal {
    background: url('../../assets/Assignment Assets/Images/Sport+Field+Background.png');
    background-size:cover;
    background-position:center;
    height: 803px;
    width: 1332px;
    box-sizing: border-box;
}

.question-modal-suboverlay {
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: middle;
    padding: 20px 20px 20px 60px;
    box-sizing: border-box;
    gap: 80px;
    width: 100%;
    height: 100%;
}

.question-modal-question-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.question-modal-image {
    object-fit: contain;
}

.question-modal-question-button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.question-modal-repeat-button {
    border: 2px solid #8FECCA;
    border-radius: 5px;
    background: none;
    width: fit-content;
    padding: 15px;
}

.question-modal-question {
    width: 100%;
    background: #00B976;
    border: 2px solid #FFFFFF;
    border-radius: 12px;
    box-sizing: border-box;
    padding: 30px;
    filter: drop-shadow(0px 6px 10px rgba(0, 118, 75, 0.3));
    color: #FFFFFF;
}

.question-modal-answer {
    width: 100%;
    display: flex;
    align-items:start;
    text-align:start;
    color: #495058;
    padding: 20px;
    
    background: #FFFFFF;
    border-radius: 5px;

	border: none;
	outline: inherit;
}

.question-answer-selected {
    background: #027998;
    color: #ffffff;
}

.question-answer-wrong {
    background: #DD403A;
    color: #ffffff;
}

.question-answer-correct {
    background: #00B976;
    color: #ffffff;
}

.victory-modal-suboverlay {
    background: rgba(255, 255, 255, 0.75);
    padding: 65px 195px 65px 195px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #495058;
}

.victory-modal-suboverlay * {
    margin: 0 auto 0 auto;
    width: fit-content;
}

.victory-image-wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.victory-image-wrapper img {
    margin: auto 0 auto 0;
    object-fit: contain;
}

.modal-button {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: #00B976;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    padding: 20px;
    outline: inherit;
    border: none;
}

.modal-button:disabled {
    opacity: 0.5;
}

p, button, h1, .modal-text {
    color:inherit;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
}

.victory-modal-suboverlay p {
    padding: 25px 0 25px 0;
    font-weight: normal;
    font-size: 32px;
    line-height: 38px;
    vertical-align: middle;
}

h1 {
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
}