<div class="maze">
    <img class="player" style="top: {{playerTop}}px; left: {{playerLeft}}px" src="../../assets/Assignment Assets/Icons/person-running-duotone.svg">
    <div *ngFor="let row of maze;" class="maze-row">
        <div *ngFor="let square of row;" class="maze-square {{square.classNames}}">
            <div class="square-content" *ngIf="square.hasObject">
                <img class="{{square.objectClass}}" src="{{square.objectImgURL}}">
            </div>
        </div>
    </div>
</div>
