
.maze {
    display: flex;
    flex-direction: column;
    margin: auto;
    vertical-align: middle;
}

.maze-row {
    display: flex;
    flex-direction: row;
}

.maze-square {
    box-sizing:border-box;
    background-color: rgb(255, 255, 255);
    padding: 0px;
    width: 118px;
    height: 75px;
    border-width: 0px;
    border-style: solid; 
    border-color: #495058;
}

.player {
    width: 118px;
    height: 75px;
    position: relative;
    margin-top: -75px;
    top: 75px;
    left: 0px;
}

.maze-square-top {
    border-top-width: 5px;
}

.maze-square-right {
    border-right-width: 5px;
}

.maze-square-bottom {
    border-bottom-width: 5px;
}

.maze-square-left {
    border-left-width: 5px;
}

.square-content {
    display: flex;
    height: 100%;
    width: 100%;
}

.square-content img {
    object-fit: contain;
    margin: 0 auto 0 auto;
}

.square-image {
    filter: brightness(0) saturate(100%) invert(24%) sepia(68%) saturate(2649%) hue-rotate(172deg) brightness(97%) contrast(98%);
}

.square-image-inactive {
    opacity: 0.4;
}