
.maze {
    display: flex;
    flex-direction: column;
    margin: auto;
    vertical-align: middle;
}

.maze-row {
    display: flex;
    flex-direction: row;
}

.maze-square {
    box-sizing:border-box;
    background-color: rgb(255, 255, 255);
    padding: 0px;
    width: 118px;
    height: 75px;
    border-width: 0px;
    border-style: solid; 
    border-color: #495058;
}

.maze-square-top {
    border-top-width: 5px;
}

.maze-square-right {
    border-right-width: 5px;
}

.maze-square-bottom {
    border-bottom-width: 5px;
}

.maze-square-left {
    border-left-width: 5px;
}
